.logo {
    transition-duration: var(--ifm-button-transition-duration);
    transition-timing-function: var(--ifm-transition-timing-default);
    margin-bottom: 1em;
}

.logo:hover{
    filter: invert(60%) sepia(50%) saturate(70%) hue-rotate(227deg) brightness(110%) contrast(90%);
}